<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include partials/head %>

</head>
<body>
        <% include partials/header %>
        <div class="row">
          <div class="col-md-12">
            <h2><% if(topics[0]){%><%=topics[0].category%><%}else{%>This category is empty<%}%></h2>
            <a href="/topic/addtopic/<%= catid %>/a" class="btn btn-success btn-sm">Post Something</a>
          </div>
				<% for(var i=0; i < topics.length; i++) {
							%>

                  <div class="col-md-12">
                      <a style="text-decoration:none;color:inherit;" href="/topic/viewposts/<%= topics[i].topicid %>/<%= topics[i].title %>">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <img src="/images/user.png" height="50px" title="<%= topics[i].username %>" class="img-circle">
                            <b><u><%= topics[i].title %></u></b>
                            <span class=""><i><%= topics[i].timestamp %></i></span>
                            <span class="badge pull-right" style="font-size:15px;"><b><%= topics[i].replyCount %></b></span>

                            <!-- <p>By <%= topics[i].username %></p> -->
                          </div>
                        </div>
                      </a>
                  </div>


        <% } %>
        </div>
        <% include partials/footer %>
</body>
</html>
